:root {
  --main--blue: #00C7E1;
  --main--black: rgba(102, 102, 102, 1);
  --dark--blue: rgba(77, 175, 188, 1);
  --box--bg: rgba(241, 241, 241, 1);
  --wire--frame: 1px solid orange;
}

*, *::before, *::after, .fix {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fas {
  color: #fff !important;
  font-size: 8px !important;
}

body, input {
  font-family: 'Montserrat', sans-serif;
  color: var(--main--black);
}

body .fix, input .fix {
  -webkit-transition: .3s;
  transition: .3s;
}

body #btn, input #btn {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: .7rem 2rem;
  padding: .25rem .7rem;
  background: var(--main--blue);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  font-family: 'Montserrat', sans-serif;
  color: var(--box--bg);
}

body #btn:hover, input #btn:hover {
  background: var(--dark--blue);
  -webkit-transition: .5s;
  transition: .5s;
}

.show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.container {
  width: 100%;
  display: none;
  position: fixed;
  z-index: 9;
  height: 100%;
  top: 0;
  margin: 0 auto;
  background-color: #fff;
}

.container .contact {
  width: 30%;
  -webkit-box-shadow: 0 1.9px 10px rgba(0, 0, 0, 0.037), 0 15px 80px rgba(0, 0, 0, 0.07);
          box-shadow: 0 1.9px 10px rgba(0, 0, 0, 0.037), 0 15px 80px rgba(0, 0, 0, 0.07);
  height: 80vh;
  background: #fff;
  z-index: 1;
  -webkit-transition: .3s !important;
  transition: .3s !important;
}

.container .contact__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .7rem .4rem;
}

.container .contact__search input {
  width: 70%;
}

.container .contact .chats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .35rem;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  padding: .25rem .7rem;
  cursor: pointer;
}

.container .contact .chats img {
  width: 12%;
  height: 12%;
}

.container .contact .chats__details {
  padding: 0 1rem;
}

.container .contact .chats__details p {
  padding: .09rem 0;
}

.container .online {
  background: var(--main--blue);
  letter-spacing: .2px;
  font-weight: 700;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.container .chat {
  width: 70%;
}

.container .chat__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5rem 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  width: 100%;
  background: var(--box--bg);
}

.container .chat__head .heads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  width: 80%;
}

.container .chat__head .heads button {
  visibility: hidden;
  padding: 8px 8px;
}

.container .chat__head img {
  width: 10%;
  border-radius: 50%;
}

.container .chat__head h2 {
  color: var(--main--blue);
  text-transform: uppercase;
  font-weight: 700;
  font-size: .6rem;
  margin: 0 1rem;
}

.container .chat__head #cancel {
  padding: 8px 10px;
}

.container .chat__message {
  width: 100%;
  height: 60vh;
  overflow-y: scroll;
  font-size: .35rem;
  line-height: .6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #fff;
}

.container .chat__message .send {
  margin: .9rem 2rem;
  border-radius: 10px;
  width: 35%;
  padding: .35rem 1rem;
  background: var(--box--bg);
}

.container .chat__message .reply {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: .5rem 1rem;
  border-radius: 10px;
  width: 35%;
  padding: .35rem 1rem;
  background: var(--main--blue);
}

.container .chat__message small {
  float: right;
  opacity: .8;
  padding: .2rem 0;
  font-size: .3rem;
}

.container .chat__input {
  padding: .7rem .6rem;
  margin: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}

.container .chat__input input {
  width: 90%;
  padding: .4rem .3rem;
}

.container .chat__input button {
  margin: 0 .6rem;
  padding: 8px 10px;
}

.container input {
  padding: .35rem .25rem;
  background-color: var(--box--bg);
  border: none;
  font-size: .5rem;
  outline: none;
}

.container button {
  background-color: var(--main--blue);
  border-radius: 50%;
  padding: 6px 7px;
  border: none;
  outline: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.show {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media only screen and (max-width: 768px) {
  .contact {
    width: 0% !important;
    position: fixed;
  }
  .contact__search {
    display: none !important;
  }
  .contact__list {
    display: none;
  }
  .viewContact {
    width: 40% !important;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .chat {
    width: 100% !important;
  }
  .heads button {
    visibility: visible !important;
  }
  .heads img {
    margin: 0 2rem;
  }
  .show {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .block {
    display: block !important;
  }
}

@media only screen and (max-width: 580px) {
  .heads img {
    margin: 0 1rem !important;
  }
  .heads h2 {
    font-size: .3rem !important;
  }
  .chat__message .send {
    width: 45% !important;
  }
  .chat__message .reply {
    width: 45% !important;
  }
}

@media only screen and (max-width: 480px) {
  .viewContact {
    width: 60% !important;
  }
}
/*# sourceMappingURL=chat.css.map */