:root {
    --main--blue: #00C7E1;
    --green--blue: rgba(60, 127, 133, 1);
    --dark--blue: rgba(77, 175, 188, 1);
    --main--black: rgba(102, 102, 102, 1);
    --box--bg: rgba(241, 241, 241, 1);
    --wire--frame: 1px solid red;
}

*,*::before, *::after, .fix{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: 'Raleway', sans-serif;
}

.pad {
    padding: .7rem 1rem ;
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.active {
    color: var(--main--blue);
}
.btn, input[type=submit] {
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    text-transform: uppercase;
    padding: .7rem .3rem;
    font-family: 'Raleway', sans-serif;
}

header {
    font-size: .6rem;
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
    position: fixed;

    .fa-times {
        display: none;
    }
    
    nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    h2 {
        font-weight: 900;
        color: var(--box--bg);
    }

            li {
             list-style-type: none;
             font-weight: 700;
             color: var(--box--bg);
             padding: .4rem .7rem;
             text-transform: uppercase;
             cursor: pointer;
            
            a {
                color: var(--box--bg);
                text-decoration: none;
            }
        }
             
        li:hover > a{
            border-radius: 2px;
            color: var(--main--blue);
            transition: .4s;
        }
    }
}

.home {
    height: 90vh;
    background: url(../img/virtual.jpg) center center;
    background-size: cover;
    color: #fff;
    
    &__inner {
        width: 100%;
        height: 90vh;
        background: rgba(56, 64, 70, 0.55);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        letter-spacing: 1.3px;
        text-transform: uppercase;

        p {
            font-weight: 700;
        }

        h3 {
            line-height: 1.2rem;
            font-weight: 400;
            letter-spacing: 3px;
            padding: 1rem 0;
        }
        button {
            font-weight: 700;
            border: none;
            background: var(--main--blue);
            color: var(--box--bg);
            width: 30%;
        }
    }
    
}


.service {
    flex-direction: column;
    padding: 2rem 3rem;

    h6 {
        color: var(--main--blue);
        font-weight: 800;
    }
    h4 {
        padding: .4rem 0;
    }
    hr {
        width: 5%;
        height: 3px;
        background-color: var(--main--blue);
        border: none;
    }

    &__list {
        display: flex;
        margin: 0 auto;
        text-align: center;

        span {
            background: rgba(0, 0, 0, 0.03);
            padding: 13px 14px;
            border-radius: 50%;
            margin-bottom: 1rem;
        }
      
        .services:nth-child(2) {
            box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.08);
            background: var(--main--blue);
            color: var(--box--bg);
        }
    }
}

.about {
    flex-direction: column;
    padding: 2rem 3rem;
    background: var(--box--bg);

    img {
        max-width: 100%;
    }

    h6 {
        color: var(--main--blue);
        padding-bottom: 1rem ;
        font-weight: 800;
        font-size: .6rem;
    }
    .sub {
        flex-direction: column;
    }
}

.blog {
    padding: 2rem 3rem;
    font-size: 25px;
    background-color: var(--dark--blue);    
    color: #fff;
    margin: 1.5rem 3rem;

    h4 {  
        text-transform: uppercase;
    }
    
    .blogpost {
        width: 100%;

        p {
            font-size: 18px;
        }
    }
    
    button {
        font-weight: 700;
        border: 1px solid #fff;
        background: transparent;
        color: var(--box--bg);
        width: 25%;
    }
   
    p{
        padding: .3rem 0;
        font-size: .25rem;
    }
}


footer {
    height: 90vh;
    padding: 2rem 3rem;

    h3 {
        font-size: 30px;
        padding: 1rem 0;
    }
    
    label {
        font-size: 15px;
    }
    textarea {
        height: 100px;
        width: 90%;
        background: var(--box--bg);
        outline: none;
        border: none;
    }
    input[type=text], input[type=email] {
        width: 60%;
        padding: .4rem 1rem;
        outline: none;
        border: none;
        background: var(--box--bg);
    }
    input[type=submit] {
        margin: 1rem 0;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        width: 40%;
        border: none;
        background: var(--main--blue);
        border-radius: 2px;
        color: var(--box--bg);
    }
    input[type=submit]:hover {
        background: var(--dark--blue);
        transition: .5s;
    }
    hr {
        height: 1px;
        background: var(--box--bg);
        border: none;
    }
    small {
        font-size: .4rem;
        margin: 0 auto;
        width: auto;
        float: center;
        text-align: center;
    }
}

@media only screen and (max-width: 420px) {
    
    .blog button {
        font-size: 10px !important;
    }
}

@media only screen and (max-width: 580px) {
    .btn {
        font-size: 15px !important;
    }
    .pad {
        padding: .6rem 1rem !important;
    }
    .home__inner  h3 {
            letter-spacing: 1px !important;
            line-height: .6rem;       
        }

        .service, .blog, .about {
            padding: 2rem 1rem !important;
        
            .service__list {
                padding: 1rem 0 !important;
            }
        }

    .services {
        padding: 4rem 1rem !important;
        width: 100% !important;

        h4 {
            font-size: .7rem !important;
        }

        p {
            font-size: 10px !important;
        }
    }
    .sub {
    
        h3 {
            font-size: 25px !important;
            }
            p {
                font-size: 16px !important;
                line-height: 1rem;
            }
        }
        
        .blog {
            
            button {
            width: 50% !important;
            padding: .5rem .5rem;
            }

            h4 {
                font-size: 18px !important;
            }
        
        p {
            font-size: 15px !important;
        }
    }
    input, textarea {
        width: 100% !important;
    }
}

@media only screen and (max-width: 768px) {
    .btn {
        font-size: 20px;
    }
    .ham {
        display: block;
        padding: .5rem .6rem;
        outline: none;
        background: transparent;
        border: 1.5px solid var(--box--bg);
    }
    ul {
        display: none;
        height: 60vh;
        background: var(--green--blue);
        width: 100%;
        padding: 1rem 1rem;
        
        li {
            font-size: 20px;
        }
    }
    nav {
        flex-direction: column;

        h2 {
            font-size: 28px;   
        }
    }

    .nav-text {
        width: 100%;
    }
    
    .home {
        height: calc(100vh - 20px);

        &__inner {
            height: calc(100vh - 20px);
            
            h3 {
                line-height: 1.8rem;
                font-weight: 700;
                letter-spacing: 4px;
                padding: .6rem 0;
                font-size: 30px;
            }
            p {
                font-size: 15px;
            }
            button {
                margin: 1rem 0;
                width: 40%;
            }        
        }
    }
    .service {

        h4 {
        font-size: 40px !important;
        }
        
        h6 {
        font-size: 15px !important;
        }
        
        &__list {
            flex-direction: column;
            padding: 2rem 3rem;
            width: 80%;
            

            .services {
                padding: 4rem 2rem !important;
            }
            h4 {
                font-size: 1rem !important;
                padding: 1rem 0;
            }

            p {
                font-size: 15px !important;
            }
        }
    }
    .sub {
        justify-content: center !important;
    
        h3 {
            font-size: 30px !important;
            padding: 1.2rem 0 !important;
            }
            p {
                font-size: 20px !important;
                line-height: 1.2rem !important;
            }
        }
        .blog {
            flex-direction: column;
            text-align: center;
        }
        .blog button {
                margin: 1rem 0;
                width: 40%;
            }
        input[type=submit] {
            font-size: 20px;
        }
}



@media only screen and (min-width: 768px) {
    .pad {
        padding: .6rem 3rem ;
    }
    
    ul {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
    
    
    }
        .ham {
            display: none;
            padding: .5rem .6rem;
            outline: none;
            background: transparent;
            border: 1.5px solid var(--box--bg);
        }
        
        .home {
            h3 {
                font-size: 2rem;
                line-height: 2.5rem;
            }
            p {
                margin-top: 3rem;
            }
            button {
                font-size: 1rem;
            }
            button:hover {
                background: var(--dark--blue);
                transition: .5s;
            }
        }
        .service {
            padding: 2rem 0;

            h4 {
            font-size: 40px;
            }
            
            h6 {
            font-size: 15px;
            }
            
            &__list {
                padding: 2rem 0;
                width: 100% ;
    
                .services {
                    padding: 4rem 2rem;
                }
                h4 {
                    font-size: 1rem;
                }
    
                p {
                    font-size: 15px;
                }
            }
        }
        .sub {
            padding: 0 3.5rem;
            h3 {
                font-size: 35px !important;
                padding: 1.5rem 0 !important;
                }
                p {
                    font-size: 25px !important;
                    line-height: 1.4rem !important;
                    text-align: justify;
                }
            }

    .blog {
        button:hover {
            background: var(--main--blue);
            transition: .5s;
            border: 1px solid var(--main--blue);
        }
    }
}


