:root {
    --main--blue: #00C7E1;
    --green--blue: rgba(60, 127, 133, 1);
    --dark--blue: rgba(77, 175, 188, 1);
    --main--black: rgba(102, 102, 102, 1);
    --box--bg: rgba(241, 241, 241, 1);
    --wire--frame: 1px solid red;
}

*,*::before, *::after, .fix{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: 'Raleway', sans-serif;
}

.active {
    color: var(--main--blue);
}

header {
    padding: .5rem 3rem;
    font-size: .6rem;
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
    position: fixed;

    .ham {
        display: none;
        padding: .5rem .6rem;
        outline: none;
        background: transparent;
        border: 1.5px solid var(--box--bg);
    
    
        .fa-times {
        display: none;
    }
    
    }
    
    nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    h2 {
        font-weight: 900;
        color: var(--box--bg);
    }

            li {
             list-style-type: none;
             font-weight: 700;
             font-size: .4rem;
             color: var(--box--bg);
             padding: .4rem .7rem;
             text-transform: uppercase;
             cursor: pointer;
            
            a {
                color: inherit;
                text-decoration: none;
            }
            

            li:hover {
                border-radius: 2px;
                color: var(--main--blue);
                transition: .4s;
            }
        }
    }
}
.home {
    height: 95vh;
    background: url(../img/virtual.jpg);
    background-size: cover;
    color: #fff;
    
    &__inner {
        width: 100%;
        height: 95vh;
        background: rgba(0  , 0, 0, .4);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0 3rem;
        letter-spacing: 1.3px;
        text-transform: uppercase;

        p {
        font-size: .6rem;
        font-weight: 700;
        }

        h3 {
            line-height: 1.2rem;
            font-weight: 400;
            letter-spacing: 3px;
            width: 60%;
            padding: 1rem 0;
        }
        button {
            text-transform: uppercase;
            font-weight: 700;
            padding: .4rem 1rem;
            border: none;
            background: var(--main--blue);
            outline: none;
            cursor: pointer;
            border-radius: 2px;
            color: var(--box--bg);
            font-size: .5rem;
        }
        button:hover {
            background: var(--dark--blue);
            transition: .5s;
        }
    }
    
}
.service {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.2rem 0;

    h6 {
        color: var(--main--blue);
        font-weight: 800;
        font-size: .6rem;
    }
    h4 {
        padding: .4rem 0;
    }
    hr {
        width: 5%;
        height: 3px;
        background-color: var(--main--blue);
        border: none;
    }
    &__list {
        display: flex;
        font-size: .6rem;
        padding: 2rem 3rem;
        text-align: center;
      

        span {
            background: #eee;
            padding: 5px 8px;
            border-radius: 50%;
        }
        h5 {
            padding: .5rem 0;
        }
        .services {
            padding: 2.5rem 1rem;
        }
        .services:nth-child(2) {
            box-shadow:
            0 2.4px 1.9px -7px rgba(0, 0, 0, 0.03),
            0 6.2px 4.9px -7px rgba(0, 0, 0, 0.051),
            0 10.6px 9.9px -7px rgba(0, 0, 0, 0.064),
            0 18.9px 18.4px -7px rgba(0, 0, 0, 0.072),
            0 26px 36px -7px rgba(0, 0, 0, 0.1);
        }
    }
}
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.2rem 3rem;
    background: var(--box--bg);

    img {
        max-width: 50%;
    }

    h6 {
        color: var(--main--blue);
        padding-bottom: 1rem ;
        font-weight: 800;
        font-size: .6rem;
    }
    .sub {
        display: flex;
    }
}
.blog {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    background-color: var(--dark--blue);
    color: #fff;
    margin: 1rem 0;
    padding: 2rem 3rem ;
    font-size: .5rem;    
    }

    button {
        text-transform: uppercase;
        font-weight: 700;
        border: 1px solid #fff;
        background: transparent;
        outline: none;
        cursor: pointer;
        border-radius: 2px;
        color: var(--box--bg);
        padding: .4rem 1rem ;
        font-size: .5rem ;
    }
    button:hover {
        background: var(--main--blue);
        transition: .5s;
        border: 1px solid var(--main--blue);
    }
    p{
        padding: .3rem 0;
        font-size: .25rem;
    }

footer {
    padding: 2rem 3rem;
    
    label {
        margin: 2rem 0;
        font-size: .6rem;
    }
    textarea {
        height: 100px;
        width: 80%;
    }
    input[type=submit] {
        margin: 1rem 0;
        text-transform: uppercase;
        font-weight: 700;
        padding: .4rem 1rem;
        border: none;
        background: var(--main--blue);
        outline: none;
        cursor: pointer;
        border-radius: 2px;
        color: var(--box--bg);
        font-size: .5rem;
    }
    input[type=submit]:hover {
        background: var(--dark--blue);
        transition: .5s;
    }
    hr {
        height: 1px;
        background: var(--box--bg);
        border: none;
    }
    small {
        font-size: .4rem;
        margin: 0 auto;
        width: auto;
        float: center;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    
    ul {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
    }
    .service__list {
        flex-direction: row !important;
    }
    .sub {
        flex-direction: row !important;
        align-items: flex-start !important;
        justify-content: flex-start !important;
    
        
        &__text {
            padding: 0 2rem !important;
            p {
                font-size: .7rem !important;
                width: 100% !important;
                line-height: 1rem;
            }
        }
    }    
    .blog {
    padding: 2rem 3rem !important;
    font-size: .5rem !important;
    
    button {
        padding: .4rem 1rem !important;
        font-size: .5rem !important;
    }
    p {
    font-size: .25rem !important;
    }
    }
}
@media only screen and (max-width: 768px) {
    
header {
    padding-bottom: none !important;
    
    .ham  {
        display: block !important;
    }
}
    nav {
        flex-direction: column;

        &-text {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    ul {
        display: none;
        margin: 0 auto;
        flex-direction: column;
        justify-content: flex-start !important;
        height: 40vh;
        width: 100%;
        padding: .5rem 0;
        text-align: center;
        list-style-type: none;
        background-color: var(--dark--blue);
    }
}
.service__list {
    flex-direction: column;

    .services {
        width: 50%;
        margin: 0 auto;
        padding: 2.5rem 2.5rem !important;
    }
}
.sub {
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__text {
        padding: 1rem 0;
        width: 65%;

        p {
            font-size: .35rem;
            line-height: 1rem;
        }
    }
    
}

@media only screen and (max-width: 580px) {
    h3 {
        width: 80% !important;
    }
    .services {
        width: 70% !important;
    }
    .sub__text {
        width: 75%;
    }
    .blog {
        padding: 2rem 1.5rem;
        font-size: .7rem;
    
        p {
        font-size: 10px;
        width: 90%;
        }
    
        button {
            // padding: .3rem .25rem;
            // font-size: 8px;
        }
    }


}

.sub__text p {
    font-size: .7rem;
}


@media only screen and (max-width: 450px) {
    h3 {
        width: 100% !important;
        font-size: 1rem;
    }
    .services {
        width: 90% !important;
    }
    .sub__text {
        padding: 1rem 0;
        width: 85%;
    
        p {
            font-size: .35rem;
            line-height: .7rem;
        }     
    }
    .blog {
        padding: 2rem 1.5rem;
        font-size: .5rem;
    
        p {
        font-size: 8px;
        width: 90%;
        }
    
        button {
            padding: .3rem .25rem;
            font-size: 8px;
        }
    }

}
