:root {
  --main--blue: #00C7E1;
  --green--blue: rgba(60, 127, 133, 1);
  --dark--blue: rgba(77, 175, 188, 1);
  --main--black: rgba(102, 102, 102, 1);
  --box--bg: rgba(241, 241, 241, 1);
  --wire--frame: 1px solid red;
}

*, *::before, *::after, .fix {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.active {
  color: var(--main--blue);
}

header {
  padding: .5rem 3rem;
  font-size: .6rem;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  position: fixed;
}

header .ham {
  display: none;
  padding: .5rem .6rem;
  outline: none;
  background: transparent;
  border: 1.5px solid var(--box--bg);
}

header .ham .fa-times {
  display: none;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav h2 {
  font-weight: 900;
  color: var(--box--bg);
}

header nav li {
  list-style-type: none;
  font-weight: 700;
  font-size: .4rem;
  color: var(--box--bg);
  padding: .4rem .7rem;
  text-transform: uppercase;
  cursor: pointer;
}

header nav li a {
  color: inherit;
  text-decoration: none;
}

header nav li li:hover {
  border-radius: 2px;
  color: var(--main--blue);
  -webkit-transition: .4s;
  transition: .4s;
}

.home {
  height: 95vh;
  background: url(../img/virtual.jpg);
  background-size: cover;
  color: #fff;
}

.home__inner {
  width: 100%;
  height: 95vh;
  background: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3rem;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.home__inner p {
  font-size: .6rem;
  font-weight: 700;
}

.home__inner h3 {
  line-height: 1.2rem;
  font-weight: 400;
  letter-spacing: 3px;
  width: 60%;
  padding: 1rem 0;
}

.home__inner button {
  text-transform: uppercase;
  font-weight: 700;
  padding: .4rem 1rem;
  border: none;
  background: var(--main--blue);
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  color: var(--box--bg);
  font-size: .5rem;
}

.home__inner button:hover {
  background: var(--dark--blue);
  -webkit-transition: .5s;
  transition: .5s;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.2rem 0;
}

.service h6 {
  color: var(--main--blue);
  font-weight: 800;
  font-size: .6rem;
}

.service h4 {
  padding: .4rem 0;
}

.service hr {
  width: 5%;
  height: 3px;
  background-color: var(--main--blue);
  border: none;
}

.service__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: .6rem;
  padding: 2rem 3rem;
  text-align: center;
}

.service__list span {
  background: #eee;
  padding: 5px 8px;
  border-radius: 50%;
}

.service__list h5 {
  padding: .5rem 0;
}

.service__list .services {
  padding: 2.5rem 1rem;
}

.service__list .services:nth-child(2) {
  -webkit-box-shadow: 0 2.4px 1.9px -7px rgba(0, 0, 0, 0.03), 0 6.2px 4.9px -7px rgba(0, 0, 0, 0.051), 0 10.6px 9.9px -7px rgba(0, 0, 0, 0.064), 0 18.9px 18.4px -7px rgba(0, 0, 0, 0.072), 0 26px 36px -7px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2.4px 1.9px -7px rgba(0, 0, 0, 0.03), 0 6.2px 4.9px -7px rgba(0, 0, 0, 0.051), 0 10.6px 9.9px -7px rgba(0, 0, 0, 0.064), 0 18.9px 18.4px -7px rgba(0, 0, 0, 0.072), 0 26px 36px -7px rgba(0, 0, 0, 0.1);
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.2rem 3rem;
  background: var(--box--bg);
}

.about img {
  max-width: 50%;
}

.about h6 {
  color: var(--main--blue);
  padding-bottom: 1rem;
  font-weight: 800;
  font-size: .6rem;
}

.about .sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  background-color: var(--dark--blue);
  color: #fff;
  margin: 1rem 0;
  padding: 2rem 3rem;
  font-size: .5rem;
}

button {
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid #fff;
  background: transparent;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  color: var(--box--bg);
  padding: .4rem 1rem;
  font-size: .5rem;
}

button:hover {
  background: var(--main--blue);
  -webkit-transition: .5s;
  transition: .5s;
  border: 1px solid var(--main--blue);
}

p {
  padding: .3rem 0;
  font-size: .25rem;
}

footer {
  padding: 2rem 3rem;
}

footer label {
  margin: 2rem 0;
  font-size: .6rem;
}

footer textarea {
  height: 100px;
  width: 80%;
}

footer input[type=submit] {
  margin: 1rem 0;
  text-transform: uppercase;
  font-weight: 700;
  padding: .4rem 1rem;
  border: none;
  background: var(--main--blue);
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  color: var(--box--bg);
  font-size: .5rem;
}

footer input[type=submit]:hover {
  background: var(--dark--blue);
  -webkit-transition: .5s;
  transition: .5s;
}

footer hr {
  height: 1px;
  background: var(--box--bg);
  border: none;
}

footer small {
  font-size: .4rem;
  margin: 0 auto;
  width: auto;
  float: center;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  ul {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .service__list {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .sub {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
  .sub__text {
    padding: 0 2rem !important;
  }
  .sub__text p {
    font-size: .7rem !important;
    width: 100% !important;
    line-height: 1rem;
  }
  .blog {
    padding: 2rem 3rem !important;
    font-size: .5rem !important;
  }
  .blog button {
    padding: .4rem 1rem !important;
    font-size: .5rem !important;
  }
  .blog p {
    font-size: .25rem !important;
  }
}

@media only screen and (max-width: 768px) {
  header {
    padding-bottom: none !important;
  }
  header .ham {
    display: block !important;
  }
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav-text {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  ul {
    display: none;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    height: 40vh;
    width: 100%;
    padding: .5rem 0;
    text-align: center;
    list-style-type: none;
    background-color: var(--dark--blue);
  }
}

.service__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service__list .services {
  width: 50%;
  margin: 0 auto;
  padding: 2.5rem 2.5rem !important;
}

.sub {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub__text {
  padding: 1rem 0;
  width: 65%;
}

.sub__text p {
  font-size: .35rem;
  line-height: 1rem;
}

@media only screen and (max-width: 580px) {
  h3 {
    width: 80% !important;
  }
  .services {
    width: 70% !important;
  }
  .sub__text {
    width: 75%;
  }
  .blog {
    padding: 2rem 1.5rem;
    font-size: .7rem;
  }
  .blog p {
    font-size: 10px;
    width: 90%;
  }
}

.sub__text p {
  font-size: .7rem;
}

@media only screen and (max-width: 450px) {
  h3 {
    width: 100% !important;
    font-size: 1rem;
  }
  .services {
    width: 90% !important;
  }
  .sub__text {
    padding: 1rem 0;
    width: 85%;
  }
  .sub__text p {
    font-size: .35rem;
    line-height: .7rem;
  }
  .blog {
    padding: 2rem 1.5rem;
    font-size: .5rem;
  }
  .blog p {
    font-size: 8px;
    width: 90%;
  }
  .blog button {
    padding: .3rem .25rem;
    font-size: 8px;
  }
}
/*# sourceMappingURL=main.css.map */